<h1>arbi saidi</h1>

<form  (ngSubmit)="onSubmit()" style="width: 50%; margin: auto" >
  <!-- <input id="name" name="name1" required minlength="4" [(ngModel)]="name1" #nameId="ngModel" placeholder="Name" style="width: 100%; height: 30px;font-size: 20px;">
  <br>
  <div *ngIf="nameId.invalid && (nameId.dirty || nameId.touched)">

    <div *ngIf="nameId?.errors.required" style="color: red;font-size: 20px;">
      Name is required.
    </div>
    <div *ngIf="nameId?.errors.minlength" style="color: red;font-size: 20px;">
      Name must be at least 4 characters long.
    </div>

  </div>
 <br><br> -->
  <mat-card>
    <h1>عيد اضحى مبارك </h1>

    <mat-form-field style="width: 100%">
      <input matInput placeholder="Name" [formControl]="nameFormControl" />
      <mat-error *ngIf="nameFormControl.hasError('minlength')">
        Name must be at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field style="width: 100%">
      <input matInput placeholder="City" [formControl]="cityFormControl" />
      <mat-error *ngIf="cityFormControl.hasError('minlength')">
        city must be at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="cityFormControl.hasError('required')">
        city is <strong>required</strong>
      </mat-error>
    </mat-form-field>




    <mat-form-field style="width: 100%">
      <input type="number" matInput placeholder="Number" [formControl]="numberFormControl" />
      <mat-error *ngIf="numberFormControl.hasError('minlength')">
        Number must be at least 4 characters long.
      </mat-error>
      <mat-error *ngIf="numberFormControl.hasError('required')">
        number is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    

    <button

      mat-raised-button
      [disabled]="numberFormControl.invalid ||cityFormControl.invalid||nameFormControl.invalid || loading"
      color="primary"
      (click)="register()"
      
    type="submit"
    >
      {{buttionText}}
    </button>
    
  </mat-card>
  <div *ngIf="isSubmitted" class="thank-you-message">
    Thank you for submitting the form!
  </div>
</form>

<!-- <button [routerLink]="['/profile', 12367]">Go to Profile</button> -->
<br />


<div style="width: 50%; margin: auto">
 

  
</div>
